{% extends 'base.html.twig' %}

{% block body %}

    {% include 'bases/styles.html.twig' %}

    {% include 'bases/header.html.twig' %}

    <main class="container mt-4 mb-4">
        <h1>Conditions générales de vente</h1>
        <hr><br>
        <h3>Prix</h3>
        Les prix sont facturés sur la base des tarifs en vigueur au moment de la commande. <br>

        Les prix des billets des manifestations sont indiqués en Euro Toutes Taxes Comprises incluant les frais d'édition hors participation aux frais de traitement et d'expédition indiqués ci-après à l'article.
        <br><br>
        <h3>Prise de commande et paiement via internet</h3>
        Les commandes passées par l'intermédiaire de Paypal engagent le Client dès leur validation en appuyant sur le bouton " Valider " présenté sur la page de paiement du site sécurisé.
        <br>
        Toute commande implique l'acceptation des présentes conditions de vente.
        <br>
        Le Client devra s’acquitter du paiement de la transaction par carte bancaire portant le signe CB/VISA, Euro/Mastercard ou American Express.
        <br>
        En ligne : Toutes les informations personnelles du client sont parfaitement protégées et cryptées avant transmission au centre de traitement.
        <br>
        Demande d' Identité ( IDCB ) :
        <br>
        Nous pouvons être amenés à vous demander par email ou par téléphone des informations complémentaires sur l'identité de l'acheteur (carte d'identité) et l'identité du porteur de la carte bancaire qui a servi au paiement, en fonction du montant de votre commande et l'existence de l'adresse de l'acheteur.
        <br><br>
        <h3>Retrait des billets - Vol – Perte</h3>
        Le BDE Cesi Toulouse se réserve le droit d'annuler toute commande d'un client avec lequel existerait un litige relatif au paiement d'une commande antérieure.
        <br>
        Les billets ne peuvent être ni repris, ni échangés, ni revendus, ni remboursés (même en cas de perte ou de vol).
        <br>
        Aucun duplicata du billet ne pourra être délivré y compris en cas de perte ou de vol.
        <br>
        Lors du contrôle à l'entrée du lieu de l'événement, une pièce d'identité, avec photo, en cours de validité pourra vous être demandée.
        <br><br>
        <h3>Annulation de la manifestation - Cas fortuits - Force majeure</h3>
        Le BDE Cesi Toulouse peut être amené à annuler la manifestation.
        <br>
        Dans ce cas, le BDE Cesi Toulouse s'engage, sur demande du client, dans un délai maximum de trois mois à compter de la date de la manifestation et sur présentation du billet, au remboursement du prix du billet, à l'exclusion de tout autre dédommagement ou indemnité quelconque.
        <br><br>
        <h3>Preuve des transactions</h3>
        Les données enregistrées par Paypal sur leur plate-forme pour le compte du BDE Cesi Toulouse constituent la preuve de l'ensemble des transactions.
        <br><br>
        <h3>Droit de rétractation</h3>
        Conformément à l’article L 221-28C.cons du Code de la Consommation, les billets d'entrée à une manifestation ne font pas l’objet d’un droit de rétractation. Toute commande est ferme et définitive.
        <br>
        En cas d'annulation de la manifestation du fait de l'organisateur veuillez contacter un membre du BDE.
        <br>
        Nous vous conseillons de les retourner par recommandé afin de conserver une trace de votre envoi.
        <br>
        Nous vous informons que seul le prix du billet vous sera remboursé.
        <br><br>
        <h3>Responsabilité - Réclamations - Litige</h3>
        Le BDE Cesi Toulouse est seul responsable du contenu de son offre et des engagements qu'il prend.
        <br>
        Le BDE Cesi Toulouse est seul habilité, à l'exclusion expresse de Paypal, à traiter de toutes les réclamations ou litiges relatifs au produit vendu ou service fourni.
        <br>
        Si la contestation porte sur les opérations de paiement, l'établissement bancaire ou le tiers chargé du système de paiement pourront être consultés.
        <br>
        L'élection de domicile est faite par le BDE Cesi Toulouse à son siège social. En cas de contestation concernant l'exécution du contrat de vente ou du paiement du prix, le tribunal sera seul compétent.
        <br>
        Sauf conventions spéciales et écrites, toute commande emporte de plein droit de la part de l'acheteur son adhésion à nos conditions générales de vente.
        <br><br>
        <h3>Informatique et Libertés</h3>
        Le client dispose conformément à la Loi informatique et libertés d'un droit d'accès et de rectification relatif aux données le concernant ainsi qu'un droit d'opposition.

    </main>

    {% include 'bases/footer.html.twig' %}

{% endblock %}