{% extends 'base.html.twig' %}

{% block body %}

    {% include 'bases/styles.html.twig' %}

    {% include 'bases/header.html.twig' %}

    <main class="mt-3">

        <div class="container">
            <h1>Page d'accueil</h1>
            <hr>

            <div class="row">
                <div class="col-md-8 mb-4">
                    <section class="content-section" id="portfolio">
                        <div class="content-section-heading text-center">
                            <h2>Les événements du BDE</h2>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-lg-12">
                                <a class="portfolio-item" href="events">
                                    <img class="img-fluid" width="100%" src="event.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-4">
                    <a href="boutique" style="text-decoration: none; color: black;"><aside>
                        <div class="col-sm-12">
                            <div class="team-member">
                                <h2>Produits en vente</h2>
                                {% for product in products %}
                                    <div class="border1">
                                        <img class="mx-auto rounded-circle border border-dark" src="http://10.131.129.156:5000/static/{{ product.url_image_produit }}" alt="">
                                        <p><strong>{{ product.nom_produit }}</strong></p>
                                    </div><br>
                                {% endfor %}
                                <hr class="d-sm-none">
                            </div>
                        </div>
                    </aside></a>
                </div>
            </div>
        </div>

        <div class="container-fluid pb-3" style="background-color: black">
            <div class="col-sm-12">
                <div class="team-member" style="padding : 20px">
                    <h1 style="font-family : fantasy; text-align : center; margin-top: 40px; color : white;">NOTRE ÉQUIPE</h1>
                    <img class="mx-auto rounded-circle" src="avatar.png" alt="">
                    <p style="color : white;">Président</p>
                    <img class="mx-auto rounded-circle" src="avatar.png" alt="">

                    <img class="mx-auto rounded-circle" src="avatar.png" alt="">

                    <img class="mx-auto rounded-circle" src="avatar.png" alt="">
                </div>
            </div>
        </div>
    </main>

    {% include 'bases/footer.html.twig' %}

{% endblock %}