{% extends 'base.html.twig' %}

{% block body %}

    {% include 'bases/styles.html.twig' %}

    {% include 'bases/header.html.twig' %}

    <main class="container mt-4 mb-4">

    </main>

    {% include 'bases/footer.html.twig' %}

{% endblock %}