{% extends 'base.html.twig' %}

{% block body %}

    {% include 'bases/styles.html.twig' %}

    {% include 'bases/header.html.twig' %}

    <main class="container mt-3 mb-3">
        <h1>Règlement du site</h1>
        <hr>
        <h3>RÈGLES GÉNÉRALES</h3>

    Les règles générales s'appliquent à l'ensemble du site du <a href="#">BDE Cesi Toulouse</a>. <br>

    0-1- Il est interdit de faire de la propagande explicite pour ou contre un parti politique, un courant politique ou un politicien. Mais il est bien entendu que parler de politique est autorisé pour autant qu'on en parle calmement.
    Ce point du règlement s'applique également aux religions.<br>

    0-2- Le langage SMS n’est pas le bienvenu, pour des raisons de compréhension et de clarté, dans les titres et dans les descriptions.<br>

    Si les messages en langage SMS sont proscrits, leur traduction l'est aussi. Les utilisateurs sont priés d'en aviser les modérateurs et de ne pas intervenir davantage. Leur bonté d'âme, n'encourageant pas la clarté d'écriture des nouveaux (et anciens) membres, est nuisible pour le site.
        <br>
    0-3- LA PUBLICITE EST INTERDITE SUR LE SITE. Les sujets à caractère publicitaire seront automatiquement effacés et leurs auteurs seront avertis par messagerie privée (MP). La récidive exposera le fautif à une éventuelle exclusion du site.
        <br>
    0-4- La CYBER-INTIMIDATION est formellement interdite. Les auteurs ET les participants de tels sujets/messages seront exclus ET pourront être poursuivi par les victimes et les familles des victimes. Dans ce cas les propriétaires du site et l'hébergeur seront tenus de fournir aux autorités les adresses IP imbibées dans les messages des fautifs. La cyber-intimidation est un crime très grave et ne sera NULLEMENT TOLÉRÉE.
        <br>
    0-5- La MESSAGERIE PRIVÉE doit être utilisé correctement. Tous abus ou harcèlement d'un ou plusieurs membres se verra sanctionné sévèrement. Son utilisation n'est permise que pour l'échange entre les membres. Tout utilisation de la messagerie à des fins promotionnelles ou publicitaires se verra immédiatement sanctionnée.
        <br>
    0-6-Toutes les irrégularités remarquées par les utilisateurs doivent être notifiées aux administrateurs ou modérateurs du site. Les discussions et remontrances publiques "genre milice" sur les irrégularités ou manquements au présent règlement ne doivent pas avoir lieu.

        <br>
        <br>
    <h3>INSCRIPTION</h3>

    1-1- Pour des raisons de sécurité, vos pseudos ne doivent pas indiquer vos adresses E-Mail, MSN, Yahoo (ou autres messageries) ainsi que vos adresses postales ou votre nom de famille.
        <br>
    Un membre ne disposant pas d’un pseudo conforme sera invité à se réinscrire sur le site après que son compte ait été supprimé.
        <br>
    1-2- Pour des raisons de lisibilité et de traçabilité des IP il ne vous sera pas possible de demander la suppression de votre compte (à moins d'avoir une raison légitime). Vous êtes les auteurs de vos posts et vous avez toujours la possibilité d'éditer leurs contenus.
        <br>
    1-3-Chaque utilisateur ne peut posséder qu'un seul compte. En cas de "double-compte" celui-ci sera automatiquement supprimé. Si dans votre foyer plusieurs personnes désirent créer un compte, vous êtes priés d'en informer un modérateur.
        <br>
        <br>
    <h3>AVATARS</h3>
        <br>
    Les avatars doivent respecter le bon goût et les règlements sur la convivialité. Donc évitez les avatars de nu explicites, politiques, gore, etc. La taille des avatars est limitée à 150 pixel de large par 160 pixels de haut
        <br>
    Veillez donc à respecter les règles spécifiques suivantes pour les avatars.
        <br>
    2-1- Il est interdit de mettre des propos racistes, discriminatoires, sexuels ou non en rapport avec l’esprit convivial du site, et ce tant dans les signatures et les avatars que dans l'ensemble des messages, intitulés, sondages et annonces.
        <br>
    2-2- La taille maximale des avatars n'est pas facultative.
        <br>
        <br>



    <h3>COMMENTAIRES</h3>

    Il vous est possible de répondre à un message ou à un sujet et de vous exprimer sur un sujet en cliquant sur COMMENTER. Cependant, vous n’êtes pas libres de dire ce que vous voulez et certaines règles ont été établies.
        <br>
    4-1- LES AUTEURS DE CYBER-DOIGTS (ou assimilés) SERONT IMMÉDIATEMENT EXCLUS DU SITE. Les cyber-doigts ont été jugés comme étant insultants envers les membres du site et les insultes sont prohibées.
        <br>
    4-2- Vos messages doivent être écrits dans un langage compréhensible de tous. Le langage SMS est toléré dans certaines limites. Les messages totalement incompréhensibles seront effacés.
        <br>
    4-3- Les messages insultants, racistes, homophobes, discriminatoires ou non en rapport avec l’esprit convivial du site sont interdits. LES AUTEURS DE CE GENRE DE MESSAGES SERONT AVERTIS VOIR MÊME EXCLUS DU SITE.
        <br>
    4-4- Pour des raisons de sécurité, IL VOUS EST INTERDIT DE LAISSER VOS COORDONNÉES TELLES QUE ADRESSES E-MAIL, ADRESSES DE MESSAGERIE (MSN, YAHOO, Etc.), TÉLÉPHONE PERSONNEL OU ADRESSE POSTALE DANS VOS MESSAGES.
        <br>
    4-5- La publicité est interdite sur le site. Toute publicité sera effacée et l’auteur du message sera averti. Est compris dans l'interprétation de publicité: le racollage, le recrutement quel qu'il soit ainsi que toutes formes de sollicitations. Sera aussi compris que ce règlement s'applique aux zones publiques et privées et Messages Privés du site.com. Seuls les propriétaires du site.com sont autorisés à faire la promotion des autres sites chapeautés par l'entreprise ou de tout autre sites ou produits.
        <br>
    4-6- Le flood est également proscrit. Soit: la publication de plusieurs messages de suite dans le même sujet ou écrire des messages qui l'un après l'autre ont juste un smiley ou un mot. Est inclus dans cette notion la réplication de sujets dans le même ou divers site.
        <br>
    4-7- La publication de numéros de série, ou toute autre information sur comment cracker, pirater ou contourner la sécurité d’un logiciel protégé est formellement interdit. La publication d’informations conduisant à se les procurer par l’entremise du site est aussi interdite. Les sanctions seront l’exclusion immédiate, sans préavis et sans appel.
        <br>
    4-8- La publication des logiciels, de fichiers piratés ou des moyens permettant de se procurer ces derniers, est soumise au mêmes conditions qu’au point 4-7.
        <br><br>



    <h3>RESPECT</h3>

    5-1- Les modérateurs et les administrateurs ont tous pouvoirs pour que ce site reste un lieu d'échanges agréable, constructif et amical pour tous. Merci de faire preuve de compréhension lorsqu'ils effectuent des modifications sur vos messages, ils ne le font pas contre vous mais uniquement dans l'intérêt du site.
        <br>
    5-2- Le respect des autres est une grande vertu du site. Le non-respect est donc prohibé.
        <br>
    5-3- Un membre exclu qui se réinscrit sur le site sera de nouveau exclu. Nous disposons des adresses IP de chaque membre afin de mieux vous repérer. Un membre inscrit n’a donc aucun intérêt à se réinscrire. L'adresse sert aussi à retracer les fournisseurs de services Internet afin de placer les plaintes d'abus lorsque nécessaire.
        <br>
    5-4- Il y a des mineurs sur le site. A chacun de nous de faire attention au contenu de nos propos afin de ne pas les choquer.
        <br>
    5-5- La pornographie et la débauche sexuelle sont interdites sur le site.
        <br>
    5-6- Les auteurs de messages pédophiles prennent le risque d’être
    poursuivis pénalement.
        <br>
    5-7- La loi française interdit aux personnes majeures de contacter des mineurs de moins de 15 ans. Cette loi est applicable aussi sur le site.
        <br>
    5-8- Il est interdit de juger les gens sur leur manière de s’exprimer ou d’écrire. Seuls les modérateurs ont le droit d’intervenir pour inviter un membre à mieux s’exprimer.
        <br>
    5-9- L’écriture en majuscules est mal venue sur des discussions car elle est assimilée à de la colère.
        <br>
    5-10- L'utilisation des messages privés est sujette aux mêmes règlements que dans la zone publique du site. Les abus peuvent être reportés à l'équipe de modération et des mesures pourront être prises vis à vis des abus.
        <br>
    5-10- Le Spam et le mail flooding sont considérés comme des abus. L'utilisation abusive par un membre du site du courriel privé ou de la boîte de message privé d'un ou de plusieurs autres membres sera sanctionné.
        <br>
    5-12- La reproduction dans la zone publique, en totalité ou en partie, du contenu d'un message privé SANS l'autorisation préalable de l'auteur est interdite.
        <br><br>

    <h3>IRL ET RENCONTRES REELLES</h3>

    le site décline toute responsabilité concernant les rencontres réelles (octogone, pas de règle, pas d'arbitre). Le site n'y participe ni en sponsor, ni en accréditant la véracité, des personnes y participant ou l'organisant sur leur identité. Les IRL et les rencontres réelles sont des initiatives privées en dehors de toute relation avec le site.

        <br>
        <br>
        <br>
        <br>

    Ce règlement peut être modifié en tout temps et sans préavis.
        <br>
    Le vieil adage qui dit que tout ce qui n'est pas interdit est permis EST FAUX. Tout ce qui n'est pas interdit peut l'être.
        <br>
    Il vous est permis de publier le lien de votre site Internet personnel dans votre profil.
        <br>
    Une section est à disponibilité pour la publication de sujets pour les associations caritatives et pour des pétitions en tout genre.
        <br><br>
    <h3>SANCTIONS</h3>
    Tout manquement aux règlements, ou récidive pourra être sanctionné. Les sanctions suivantes peuvent être appliquées :<br>

    - Modération de message/censure (le contenu de votre message est partiellement modifié/censuré)<br>
    - Suppression de message<br>
    - Suppression de sujet<br>
    - Désactivation du compte utilisateur avec durée<br>
    - Bannissement définitif du site.<br>

    Dans le cas des bannissements et de la désactivation, toute violation de la "quarantaine" et toutes les réinscriptions se verront bannis SANS PRÉAVIS.

    </main>


    {% include 'bases/footer.html.twig' %}

{% endblock %}