
/** HEADER */
.navbar {
    background-color: #326295;
}
.navbar-lighter {
    background-color: #26619C;
}

.jumbotron {
    background-color: white;
    height: 150px;
    padding-top: 40px;
}

/** FOOTER */
html {
    position: relative;
    min-height: 100%;
}
body {
    /*margin-bottom: 60px;*/
}
.footer {
    /*position: absolute;
    bottom: 0;*/
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #2b2b2b;
    color: white;
    padding-top: 30px;
    border-top: 30px solid dimgray;
}
.networks {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.network {
    background-color: darkred;
    height: 40px;
}
.credits {
    padding-bottom: 20px;
}
.contents {
    padding-bottom: 30px;
}
.mentions {
    padding-bottom: 10px;
}
.mention {
    text-align: center;
}