{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row contents">
                <div class="col-sm-3">
                    <span>BDE</span><br>
                    <span class="text-muted">Place content here.</span>
                </div>
                <div class="col-sm-3">
                    <span>Événements</span><br>
                    <span class="text-muted">Place content here.</span>
                </div>
                <div class="col-sm-3">
                    <span>Espace utilisateur</span><br>
                    <span class="text-muted">Place content here.</span>
                </div>
                <div class="col-sm-3">
                    <span>Boutique</span><br>
                    <span class="text-muted">Place content here.</span>
                </div>
            </div>
            <div class="row networks">
                <div class="col-sm-12 text-center">
                    <span>Retrouvez l'actualité du BDE sur <a href="#">Facebook</a></span>
                </div>
            </div>
            <div class="row mentions">
                <div class="col-sm-4 mention">
                    <a href="">Politique de Protection des Données Personnelles</a>
                </div>
                <div class="col-sm-4 mention">
                    <a href="">Mentions légales</a>
                </div>
                <div class="col-sm-4 mention">
                    <a href="">Conditions Générales de Vente</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center credits">
                    <span>&copy; BDE CESI Toulouse</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}