{% extends 'base.html.twig' %}

{% block body %}

  {% include 'bases/styles.html.twig' %}

  {% include 'bases/header.html.twig' %}

  {% if erreur %}
    <h4>{{ erreur }}</h4>
  {% endif %}

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button>Ajouter</button>
  {{ form_end(form) }}

  {% include 'bases/footer.html.twig' %}

{% endblock %}