{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ event.nom_event }}</h1>
        <h2>{{ event.prix }}</h2>
        <h3>{{ event.date_debut_event }}</h3>
        <h3>{{ event.date_fin_event }}</h3>
    </div>




{% endblock %}