{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Tout les évenements</h1>
    </div>

    {% for idee in idees %}

   <p>{{ idee.nom_idee }}</p>

   <a href="{{ path('buyById',  {id_event_idee : idee.id_event_id}) }}">Liker cette idee</a>

    {% endfor %}

{% endblock %}