{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Tout les évenements</h1>
    </div>

    {% for idee in idees %}

   <p>{{ idee.nom_idee }} <a href="{{ path('voteById', {id_event_idee: idee.id_event_idee}) }}">Upvote</a> </p>

    {% endfor %}

{% endblock %}