{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Tout les Produits</h1>
    </div>

    {% for produit in produits %}

        {{ produit.nom_produit }} <a href="{{ path('buyById',  {id_produit:event.id_produit}) }}">Acheter ce produit</a>

    {% endfor %}

{% endblock %}